*{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper>h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 120px;
}
.wrapper .countdown{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wrapper .countdown>p{
    font-size: 64px;
    margin: 0 15px;
}

