*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: azure;
    color: black;
}
.calendar_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    width: 700px;
    background-color: white;
}

.calendar{
    position: relative;
}
.calendar .calendar_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
    color: white;
}
.calendar_banner>i{
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
.day_name , .days{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7 , 1fr);
    gap: 20px;
}

.day_name{
    margin-bottom: 20px;
}

.current_day{
    color: blue;
}