*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: azure;
}
.calendar_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    width: 700px;
    height: 500px;
    background-color: black;
}

.calendar>h1{
    color: white;
    text-align: center;
}