*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)) ,
    url("./hero-bcg.jpeg") no-repeat center/cover;
}

header nav{
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed-nav{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.imageContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.imageContainer img{
    width: 100px;
    height: 100px;
}
.imageContainer button{
    all:unset;
    display: none;
    border-radius: 50%;
    padding:20px;
    cursor: pointer;
}

.linksContainer .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.links .link{
    margin: 0 20px;
    text-decoration: none;
    color: black ;
}
.link:hover{
    color: blue;
}
header .banner{
    min-height: 100vh;
    width: 750px;
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 auto;
}

.banner h1{
    font-size: 64px;
    font-weight: 900;
    color: #fff;
}
.banner p{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.banner .btn{
    border: 1px solid #fff;
    padding: 10px 15px;
    cursor: pointer;
}
#about,#services, #tours{
    min-height: 90vh;
}
#about>h1,#services>h1, #tours>h1{
    font-size: 64px;
    font-weight: 900;
    color: black;
    text-align: center;
}

.top-link{
    position: fixed;
    bottom:10px;
    right: 10px;
}
.top-link>button{
    all: unset;
    padding:20px;
    background-color: aqua;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.top-link.show>button{
    display: block;
}
@media screen and (max-width:800px){
    header nav{
        display: block;
    }
    .imageContainer button{
        display: inline-block;
    }
    .linksContainer{
        display: none;
    }
    .linksContainer.show{
        display: block;
    }
    .linksContainer .links{
        display: block;
        text-align: center;
        transition: ease-in-out 0.5s all;
    }
    .links>li{
        padding:10px;
    }
    header .banner{
        width: 100%;
        padding:0 20px;
    }
}