*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.back{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

video{
    object-fit: cover;
    z-index: -2;
    height: 100%;
    width: 100%;
}
.back h1{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.back button{
    all:unset;
    position: absolute;
    bottom:50px;
    left:20px;
    background: transparent;
    padding:15px 25px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}