*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
}

h1{
    text-align: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    padding:20px 50px;
}

.menu>div{
    margin: 0 10px;
    flex-basis: calc(50% - 20px);
    display: flex;
}


.image img{
    object-fit: cover;
    height: 200px;
    width: 200px;
}
.item{
    padding: 15px;
}