*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}
.swiper {
    width: 600px;
    height: 300px;
}

.swiper-slide>img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}