*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: cadetblue;
}
.grocery{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: azure;
}