nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin : 0 10px;
}

li a{
    text-decoration: none;
    color:black;
}