nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin : 0 10px;
}

li a{
    text-decoration: none;
    color:black;
}
.logoImage{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoImage button{
    visibility: hidden;
}
.nav-toggle{
    padding:15px;
    background-color: transparent;
    color: aqua;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
}
@media screen and (max-width:800px){
    nav{
        display: block;
    }
    .logoImage button{
        visibility: visible;
    }
    .menu{
        display: block;
        text-align: center;
        visibility: hidden;
    }
    .menu>li{
        margin:15px
    }
    .social-icons{
        justify-content: center;
        visibility: hidden;
    }
    .social-icons.show, .menu.show{
        visibility: visible;
    }
}